.informes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to top, #810ab1, #3f5feb, rgb(78, 198, 228), #bfe6f8, white);
    padding: 1.5px;
    height: 115vh;
    width: 99.8%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
    margin-top: 5rem;
    overflow: hidden;
  }

  
  .info-section, .historico-section, .deudas-section {
    width: 85%;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .historico-ingresos, .historico-egresos {
    background-color: rgba(179, 81, 218, 0.4);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  }
  
  .deudas-table {
    width: 98%;
    background-color: rgba(179, 81, 218, 0.4);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  }
  
  .deudas-table table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .deudas-table th, .deudas-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
  
  .button-section {
    margin-top: 20px;
    display: flex;
    gap: 10px;
  }
  
  .button-ingresos, .button-egresos {
    justify-content: center;
    padding: 15px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(78, 198, 228);
    color: rgb(0, 0, 0);
    transition: background-color 0.3s ease;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .button-ingresos:hover, .button-egresos:hover {
    background-color: #41a7a7;
  }
  