.transacciones-button {
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    padding: 20px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .transacciones-button:hover {
    background-color: #2fc7e2;
  }
  