.transacciones-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 115vh;
    width: 100%;
    background-image: linear-gradient(to top, #810ab1, #3f5feb, rgb(78, 198, 228), #bfe6f8, white);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;
    overflow: hidden;
  }
  
  .transacciones-form {
    background-color: rgba(179, 81, 218, 0.4);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    width: 420px;
    margin-top: 5rem;
    height: 82vh;
  }
  
  .form-group {
    margin-bottom: 15px;
    width: 25rem;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: 10px;
  }
  